@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Roboto&display=swap');
html {font-size: 16px;}
h1, h2, h3 { font-family: 'Inconsolata', monospace;}
p {
    font-family: 'roboto';
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.7rem;
}

.view-more {
	border: 2px solid #999;
	padding: 8px 16px;
	margin: 10px;
	text-decoration: none;
	background-color: yellow;
	color: blue;
}

.footer{
	width: 100%;
}

.footer div {
	display: flex;
	align-items: center;
	justify-content: space-around;
}