@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Roboto&display=swap');
html {font-size: 16px;}
h1, h2, h3 { font-family: 'Inconsolata', monospace;}
p {
    font-family: 'roboto';
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.7rem;
}